.customer__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black-text);
}

.customers {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.customers__icon {
  fill: var(--color-icon-grey);
  transition: color var(--animation-delay), fill var(--animation-delay);
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-icon-grey);
  border-radius: 4px;
  &:hover,
  &:focus {
    border-color: var(--color-active-link);
    & .customers__icon,
    & .customers__icon {
      fill: var(--color-active-link);
    }
  }
}
