.header {
    position: relative;
}
.container__header {
    display: flex;
    align-items: center;
}

.header-portfolio {
    border-bottom: 1px solid var(--color-border-header);
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--color-black-text);
}

.logo-header {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 93px;

    @include tablet {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @include desktop {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.logo__text {
    color: var(--color-logo);
}

.nav__list {
    display: none;
    align-items: center;
    & .current {
        color: var(--color-active-link);
    }
    @include tablet {
        display: flex;
        gap: 50px;
        align-items: center;
    }
}

.nav__item {
    position: relative;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--color-nav-text);

    &:hover,
    &:focus {
        color: var(--color-active-link);
    }

    &::before,
    .current::before {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        background-color: var(--color-active-link);
        color: var(--color-active-link);
        left: 0;
        bottom: 0;
        transition: transform var(--animation-delay);
        transform: scale(0);
        transform-origin: left;
    }
}

.current::before {
    transform: scale(1);
}

.contacts {
    display: none;
    margin-left: auto;
    padding: 21px 0;

    @include tablet {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    @include desktop {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }
}

.contacts__icon {
    margin-right: 10px;
    align-items: baseline;
    transition: fill var(--animation-delay);
    fill: var(--color-contact-text);

    .contacts__link:hover &,
    .contacts__link:focus & {
        fill: var(--color-active-link);
    }
}

.contacts__link {
    position: relative;
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--color-contact-text);

    &:hover,
    &:focus {
        color: var(--color-active-link);
    }
}

.mobile__open-button {
    display: flex;
    align-items: center;

    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
    margin-left: auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px transparent;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    top: 0;
    width: 100vw;
    height: 100%;
    padding: 48px 40px;
    z-index: 1;
}

.mobile-nav__close {
    position: absolute;
    display: block;
    margin-left: auto;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0px transparent;


    fill: var(--color-black-text);
    &:hover,
    &:focus {
        fill: var(--color-active-link);
    }
}

.mobile-nav__list {
    & .current {
        color: var(--color-active-link);
    }
}

.mobile-nav__item {
 margin-bottom: 32px;
    
}

.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--color-black-text);
    &:hover,
    &:focus {
        color: var(--color-active-link);
    }
}

.mobile-contacts__list {
    margin-bottom: 64px;
}
.mobile-contacts__item {
    margin-bottom: 32px;
}
.mobile-contacts__link.tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.25;

    letter-spacing: 0.02em;
    color: var(--color-contact-text);

    &:hover,
    &:focus {
        color: var(--color-active-link);
    }
}

.mobile-contacts__link.mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--color-contact-text);
    &:hover,
    &:focus {
        color: var(--color-active-link);
    }
}

.mobile-socials__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.mobile-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;

    letter-spacing: 0.02em;
    color: var(--color-active-link);
}
.mobile-socials__item:not(:first-child) {
&:before {
        content: "";
        width: 100%;
        margin-right: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
}     
}
