.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--animation-delay), visibility var(--animation-delay);
}

.modal {
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--color-background-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) translateX(0);
    transition: transform var(--animation-delay);
    transform-origin: top;

    & input,
    & textarea {
        outline: 2px solid transparent;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) translateX(-100%);
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    fill: var(--color-black-text);

    &:hover,
    &:focus {
        background-color: var(--color-active-link);
        fill: var(--color-white-text);
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--color-title-text);
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info__box {
    position: relative;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--color-contact-text);
}

.user-info__icon {
    position: absolute;
    fill: var(--color-nav-text);
    top: 60%;
    left: 11px;
    transform: translateY(-60%);

    transition: fill var(--animation-delay);
    .user-info__input:hover + &,
    .user-info__input:focus + & {
        fill: var(--color-active-link);
    }
}

.user-info__input {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: transparent;

    transition: border var(--animation-delay), outline var(--animation-delay);
    &:hover,
    &:focus {
        outline: 1px solid var(--color-active-link);
        border: 1px solid var(--color-active-link);
    }
}

textarea {
    display: block;
    margin-top: 4px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border var(--animation-delay), outline var(--animation-delay);

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
    &:hover,
    &:focus {
        outline: 1px solid var(--color-active-link);
        border: 1px solid var(--color-active-link);
    }
}

.agreement__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 9px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--color-contact-text);
}

.agreement__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.aggreement__icon-check {
    display: inline-block;
    width: 16px;
    height: 15px;

    background-image: url(../image/icon-check.svg);
    background-origin: border-box;
    border: 2px solid var(--color-black-text);

    .agreement__checkbox:checked + & {
        background-color: var(--color-active-link);
        border-color: transparent;
        background-size: contain;
    }
}

.agreement__link {
    color: var(--color-active-link);
}

.modal__button-submit {
    width: 200px;
    height: 50px;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--color-active-link);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--color-active-link);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--color-white-text);
    cursor: pointer;

    transition: background-color var(--animation-delay), box-shadow var(--animation-delay);
    &:hover,
    &:focus {
        background-color: var(--color-active-button);
    }
}
