:root {
    --color-black-text: #000000;
    --color-white-text: #ffffff;
    --color-active-link: #2196f3;
    --color-active-button: #188ce8;
    --color-nav-text: #212121;
    --color-contact-text: #757575;
    --color-title-text: #212121;
    --color-main-text: #757575;
    --color-box-text: #ffffff;
    --color-background-header: #ffffff;
    --color-background-footer: #2f303a;
    --color-background-hero: #2f303a;
    --color-background-hero-button: #188ce8;
    --color-background-team: #f5f4fa;
    --color-background-filters-button: #f5f4fa;
    --color-background-white: #ffffff;
    --color-background-main-portfolio: #f5f5f5;
    --color-border-portfolio: #eeeeee;
    --color-border-header: #ececec;
    --color-logo: #2196f3;
    --color-icon-grey: #afb1b8;
    --colo-icon-background-footer: rgba(255, 255, 255, 0.1);

    --animation-delay: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}